@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2d3440;
  background-color: #feafc3;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1170px;
  margin: 0 auto;
}
.button {
  background-color: #ff2f64;
  color: #fcfcfc;
  font-weight: 700;
  text-decoration: none;
}
.button-white {
  background-color: #fcfcfc;
  color: #2d3440;
  font-weight: 700;
  text-decoration: none;
}
.page-header {
  display: flex;
  margin: 0 auto;
  width: 1170px;
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 553px;
  list-style: none;
}
.navigation-user {
  max-width: 419px;
  margin-left: auto;
}
.navigation-link {
  color: #2d3440;
  line-height: 20px;
  text-decoration: none;
}
.navigation-phone {
  font-weight: 700;
}
.navigation-link-login {
  font-size: 14px;
}
.navigation-cart-status {
  font-size: 14px;
}
.slide {
  display: flex;
  padding-left: 70px;
}
.slide-info {
  width: 470px;
}
.slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}
.slide-description {
  font-size: 18px;
  line-height: 24px;
}
.slider-bottom {
  display: flex;
  justify-content: space-between;
}
.gifts-title {
  margin: 0 auto;
  text-align: center;
  max-width: 443px;
}
.gifts-wrapper {
  display: flex;
}
.gifts-item {
  background-color: #ff7799;
  display: flex;
  width: 570px;
  padding-left: 40px;
  padding-top: 19px;
}
.gifts-item:not(:first-child) {
  margin-left: 30px;
}
.gifts-item-content {
  width: 321px;
}
.gifts-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.gifts-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.popular-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 527px;
  margin: 0 auto;
  text-align: center;
}
.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popular-list-item {
  background-color: #fcfcfc;
  text-align: center;
}
.popular-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.popular-item-description {
  color: #565c66;
}
.popular-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.popular-item-button {
  background-color: #ff2f64;
}
.advantage {
  background-color: #e7d9ab;
  background-image: url(../img/advantage-border-img.png);
  border-radius: 16px;
  padding: 24px;
}
.advantage-content-wrapper {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 56px 40px;
}
.advantage-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 995px;
  margin: 0 auto;
  text-align: center;
}
.advantage-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantage-item-text {
  color: #565c66;
  margin: 0;
}
.news-block {
  display: flex;
}
.news {
  width: 570px;
  padding: 32px;
  background-color: #ffffff;
  background-image: url(../img/news-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.news-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}
.news-sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 303px;
}
.subscription {
  width: 570px;
  margin-left: 30px;
  padding: 6px;
  background-color: #ffffff;
  background-image: url(../img/subscription-blog-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscription-text {
  color: #565c66;
}
.delivery {
  display: flex;
  justify-content: space-between;
  padding: 64px 64px 64px 100px;
  background-color: #ffffff;
  background-image: url(../img/delivery-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.delivery-title {
  width: 356px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.delivery-description {
  width: 371px;
}
.delivery-order {
  background-color: #fcfcfc;
  width: 500px;
  padding: 40px;
}
.form-label {
  font-weight: 700;
  line-height: 20px;
}
.contacts {
  padding: 64px;
  background-color: #ffffff;
  background-image: url(../img/contatcs-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacts-info {
  width: 343px;
  padding: 40px;
  background-color: #fcfcfc;
}
.contacts-description {
  color: #565c66;
}
.contacts-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.contacts-phone {
  color: #2d3440;
  text-decoration: none;
}
.page-footer {
}
.page-footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
.footer-social-list {
  margin: 0 299px 0 4px;
  padding: 0;
  list-style: none;
}

.footer-navigation-link {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.footer-navigation-item:first-child {
  font-weight: 700;
}
.footer-copyright {
  margin-left: auto;
  margin-right: 14px;
}
.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
}
.footer-copyright-link {
  color: #2d3440;
}
.current-link {
  background-color: #ff4a78;
  color: #fcfcfc;
}
.breadcrumbs-link {
  color: #2d3440;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.catalog-filter {
  font-size: 14px;
  line-height: 20px;
}
.catalog-filter-button {
  font-weight: 700;
}
.catalog-list-item {
  background-color: #fcfcfc;
  text-align: center;
}
.catalog-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.catalog-item-description {
  color: #565c66;
}
.catalog-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.catalog-item-button {
  background-color: #ff2f64;
}
.catalog-pagination-list {
  list-style: none;
}
.catalog-pagination-link {
  text-decoration: none;
  color: #2d3440;
}
.catalog-pagination-link-current {
  background-color: #fcfcfc;
}
